// Colores Asphalt
$asph-50: #fff3e6;
$asph-100: #ffe1bd;
$asph-200: #ffc17e;
$asph-300: #ff9435;
$asph-400: #ff6c00;
$asph-500: #ff5100;
$asph-600: #de3100;
$asph-700: #b01900;
$asph-800: #911002;
$asph-900: #7a0e09;
$asph-950: #0a0000;


