// Colores Asphalt
$color-asphalt-50: #f8f3ee;
$color-asphalt-100: #ede0d4;
$color-asphalt-200: #ddc1ab;
$color-asphalt-300: #c99b7b;
$color-asphalt-400: #b97a56;
$color-asphalt-500: #aa6848;
$color-asphalt-600: #92513c;
$color-asphalt-700: #753d33;
$color-asphalt-800: #633530;
$color-asphalt-900: #562e2d;
$color-asphalt-950: #110808;

