// Colores Asphalt
$asph-50:  #eaf4ff;
$asph-100: #d8eaff;
$asph-200: #b9d7ff;
$asph-300: #90bbff;
$asph-400: #6491ff;
$asph-500: #4068ff;
$asph-600: #1f3cff;
$asph-700: #132cee;
$asph-800: #142abf;
$asph-900: #192c96;
$asph-950: #0f1857;



$ultramarine-50:  #f2f5ff;
$ultramarine-100: #e7ebff;
$ultramarine-200: #d1daff;
$ultramarine-300: #adbbff;
$ultramarine-400: #7e8dff;
$ultramarine-500: #4a56ff;
$ultramarine-600: #2628ff;
$ultramarine-700: #1614ed;
$ultramarine-800: #1110c7;
$ultramarine-900: #100fa0;
$ultramarine-950: #06096f;
