@use "../../styles/colors" as *;

.container-login {
  height: 100vh;
  background-color: $asph-950;
  color: white;
  display: grid;
  .parent {
    width: 80%;
    height: 50%;
    margin: auto auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
    background-color: $asph-400;
    border-radius: 50px;
    .img-container {
        border-radius: 50px;
        background-color: $asph-900;
    }
  }
}
