@use "../styles/colors" as *;
@use "../styles/fonts" as *;

.nav-bar-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 230px;
  height: 100vh;
  background-color: $asph-950;
  padding: 10px 15px;
  transition: all 0.5s ease;
  .side-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 31px;
    position: absolute;
    top: 5px;
    left: 215px;
    color: $asph-50;
    border-radius: 200px;
    background-color: $asph-950;
    transition: all 0.5s ease;
    border: 2px solid #4f4f4fc3;
    i {
      transform: rotate(360deg);
      transition: all 0.5s ease;
    }
  }

  hr {
    margin: 0 8px;
    opacity: 0.7;
    height: 4px;
    background-color: $asph-500;
    border: none;
    border-radius: 5px;
  }

  .nav-bar-info-user {
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $asph-700;
    border-radius: 10px;
    color: $asph-50;
    .user-foto img {
      max-width: 50px;
      border-radius: 100px;
      object-fit: cover;
      object-position: center;
      border: solid 3px #000000b1;
    }
    .user-info {
      span {
        font-family: $fuente-principal;
        font-weight: 600;
        font-size: 15px;
        letter-spacing: 1px;
      }
      h2 {
        letter-spacing: 2px;
        font-size: 20px;
      }
    }
  }

  .nav-bar-option {
    height: 100vh;
    ul {
      padding-left: 0;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    li {
      border-radius: 10px;
      list-style: none;
      border: 2px solid $asph-700;
      box-shadow: 0px 1px 4px $asph-600;
      transition: all 0.5s ease;
      &:hover {
        border-color: $asph-50;
        box-shadow: none;
        background-color: $asph-50;
        transition: all 0.5s ease;
        cursor: pointer;
        a {
          color: $asph-950;
        }
      }
      a {
        display: flex;
        gap: 15px;
        align-items: center;
        text-decoration: none;
        padding: 10px 20px;
        color: $asph-50;
        font-size: 20px;
        font-family: $fuente-secundaria;
        letter-spacing: 2px;
        i {
          font-size: 23px;
        }
      }
    }
  }

  .logout-user {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    gap: 10px;
    padding: 10px 0;
    color: $asph-50;
    background-color: red;
    border-radius: 10px;
    font-family: $fuente-secundaria;
    font-weight: 900;
    font-size: 16px;
    cursor: pointer;
  }

  &.active {
    width: 90px;
    .side-bar {
      left: 75px;
      i {
        transition: all 0.5s ease;
        transform: rotate(180deg);
      }
    }

    .nav-bar-info-user {
      img {
        width: 50px;
      }
      .user-info {
        display: none;
      }
    }
    .nav-bar-option a {
      padding: 12px;
      justify-content: center;
      letter-spacing: 0;
      span {
        display: none;
      }
    }
    .logout-user {
      p {
        display: none;
        margin-bottom: 0;
      }
    }
  }
}
